*{
    padding: 0;
    margin: 0;
}
body{
    font-family: monospace;
    background-color: maroon;
    background-image: url(images/Eworld_earth_logo.PNG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
nav{
    position:sticky;
}
header{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    button{
        cursor: alias;
        background-color: maroon;
        border: none;
        padding: 10px;
        font-size: 20px;
    }
    h1{
        margin-bottom: 10%;
        font-size: 100px;
    }
}

section{
    height: 100vh;
    margin: 0 200px;
    background-color: #373636;
    opacity: 50%;
    margin-bottom: 100px;
}
footer{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px 0px;
}
